version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.11-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  api:
    build: .
    container_name: api
    environment:
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/%2f
    ports:
      - "3001:3001"
    depends_on:
      - rabbitmq

volumes:
  rabbitmq-data:
